@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');

body {
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	/*background-image: url("glasses_img.png");
	background-repeat: no-repeat;
	background-position: 85% 250px;
	background-size: 1082.7px 451.1px;*/
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	text-align: center;
}


footer {
	color: #eee;
	background-color: #3d4afd;
	text-align: right;
	margin-top: 80px;
	border-top: 2px solid #121ebc;
}

a {
	text-decoration: none;
	color: #323edc;
} 

hr {
	margin: 180px 0px 0px 0px;
}

ul {
	text-align: left;
}


form {
	text-align: left;
	margin-left: 30%;
}

input {
	width: 220px;
	height: 22px;
}

.container {
	/* margin-left: 10px;
	margin-right: 10px; */
	margin-top: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ccc;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}


.title {
	position: fixed;
	top: 0px;
	width: 100%;
	text-shadow: 2px 2px #121dbc; 
	background-color: #3d4afd;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	color: #fff; 
	margin: 0%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	/* line-height: 70px; */
	/* margin-bottom: 180px; */
	border-bottom: 2px solid #121ebc;
}


.listContainer {
	padding: 50px;
}


.buttonEnviar {
	color: #fff;
	background-color: #323edc;
	font-size: 24px;
	width: 230px;
	height: 48px;
	border: 2px solid #020eac;
}

.button-return {
	display: inline-block;
	font-weight: bold;
	font-size: 28px;
	margin: 20px 0px 20px 0px;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	background-color: #eee;
	margin-left: 8px;
	margin-right: 8px;
	padding: 40px 12px 40px 12px;
}

.links-separator {
	width: 3px;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #ccc;
}

#footer-link {
	color: #eee;
}