@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');

body {
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	text-align: center;
}


footer {
	color: #eee;
	background-color: #3d4afd;
	text-align: right;
	margin-top: 80px;
	border-top: 2px solid #121ebc;
}

a {
	text-decoration: none;
	color: #323edc;
} 

hr {
	margin: 10px 0px 0px 0px;
	height: 60px;
	background-image: linear-gradient(rgba(0,92,230,1), rgba(255, 255, 255,1));
}


ul {
	text-align: left;
}


form {
	text-align: left;
	margin-left: 30%;
}

input {
	width: 220px;
	height: 22px;
}

.container {
	/* margin-left: 10px;
	margin-right: 10px; */
	/* margin-top: 20px; */
	/* padding-top: 100px; */
	padding-bottom: 40px;
	background-color: #ccc;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}


.title {
	position: fixed;
	top: 0px;
	width: 100%;
	text-shadow: 2px 2px #121dbc; 
	background-color: #3d4afd;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	color: #fff; 
	margin: 0%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	/* line-height: 70px; */
	/* margin-bottom: 180px; */
	border-bottom: 2px solid #121ebc;
}

.degrade {
	margin: 10px 0px 60px 0px;
	height: 80px;
	background-image: linear-gradient(rgba(0,92,230,1), rgba(255, 255, 255,1));
}

.main-img{
	margin-top: 140px;
}

.listContainer {
	padding: 50px;
}


.buttonEnviar {
	color: #fff;
	background-color: #323edc;
	font-size: 24px;
	width: 230px;
	height: 48px;
	border: 2px solid #020eac;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
}

.button-return {
	display: inline-block;
	font-weight: bold;
	font-size: 28px;
	margin: 20px 0px 20px 0px;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	background-color: #eee;
	margin-top: 100px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 40px 12px 40px 12px;
}

.links-separator {
	width: 3px;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #ccc;
}

.input-data {
	background-color: #8d94f8;
	display: inline-block;
	padding: 40px 80px 40px 80px;
	border-radius: 1%;
	margin-bottom: 40px;
}

.subtitle {
	color: rgb(235, 233, 233);
	background-color: #3d47d1;
	margin: 40px 20% 40px 20%;
	border-radius: 4px 4px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer-link {
	color: #eee;
}

table {
	border-collapse: collapse;
	width: 100%;
	background-color: #e6e6e6;
	font-size: 18px;
}

td, th {
	border: 1px solid #101010;
	text-align: left;
	padding: 8px;
}


tr:nth-child(even) {
	background-color: #fff;
}


.headers {
	background-color: #727efc;
	font-size: 24px;
}

.id-column {
	width: 30px;
}

.date-column {
	width: 180px;
}

