@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');

body {
	background-color: #fff;
	/*background-image: url("glasses_img.png");
	background-repeat: no-repeat;
	background-position: 85% 250px;
	background-size: 1082.7px 451.1px;*/
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	text-align: center; 
/* Aplica sobre el tag llamado */
}


footer {
	color: #eee;
	background-color: #3d4afd;
	text-align: right;
	margin-top: 80px;
	border-top: 2px solid #121ebc;
}

a {
	text-decoration: none;
} 


ul {
	text-align: left;
}


form {
	text-align: left;
	margin-left: 30%;
}

input {
	width: 220px;
	height: 22px;
}

.container {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	background-color: #ccc;
	border: 4px solid #101010;
}


.title {
	text-shadow: 2px 2px #121dbc; 
	background-color: #3d4afd;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	/* height: 86px; */
	color: #fff; 
	margin: 0%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	/* line-height: 70px; */
	margin-bottom: 80px;
	border-bottom: 2px solid #121ebc;
}


.listContainer {
	padding: 50px;
}


.buttonEnviar {
	color: #fff;
	background-color: #323edc;
	font-family: "roboto-italic";
	font-size: 24px;
	width: 230px;
	height: 36px;
	border: 2px solid #020eac;
}

#footer-link {
	color: #eee;
}