@font-face{
	font-family: "roboto-italic";
	src: url(Roboto-Italic.ttf);
}

body {
	background-color: #aaa;
	background-image: url("glasses_img.png");
	background-repeat: no-repeat;
	background-position: 85% 250px;
	background-size: 1082.7px 451.1px;
	font-family: "roboto-italic";
	font-size: 25px;
	text-align: center; 
/* Aplica sobre el tag llamado */
}

hr {
	width: 650px;
	margin-left: 20%;
	border-color: #000;
}


h4 {
	text-align: left;
	margin-left: 50px;
}


footer {
	color: #aaa;
	background-color: #303030;
	text-align: right;
	margin: 180px 0px 0px 0px;
}

a {
	color: #121ebc;
}

ul {
	text-align: left;
}


.container {
	opacity: 0.8;
	margin-top: 50px;
	background-color: #ccc;
	width: 450px;
	margin-left: 5%;
	height: 500px;
	border-left: 8px dashed #303030;
	
/* Aplica exclusivamente al id container */
}

.myClass {
/* crea una clase de estilo aplicable a cualquier tag */
}


.title {
	border: 5px solid #020eac;
	text-shadow: 5px 5px #121ebc; 
	width: 448px;
	margin-left: 25%;
	background-color: #323edc;
	color: #ddd;
	height: 72px;
	line-height: 70px;
}


.circle {
	border-radius: 50%;
	display: inline-block;
	background: #121ebc;
	width: 16px;
	height: 16px;
}


.background {
	opacity: 0.5;
}

.listContainer {
	padding: 50px;
}