@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');

body {
	background-color: #aaa;
	background-image: url("glasses_img.png");
	background-repeat: no-repeat;
	background-position: 85% 250px;
	background-size: 1082.7px 451.1px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	text-align: center; 
/* Aplica sobre el tag llamado */
}

hr {
	width: 650px;
	margin-left: 20%;
	border-color: #000;
}


h4 {
	text-align: left;
	margin-left: 50px;
}


footer {
	color: #aaa;
	background-color: #303030;
	text-align: right;
	margin: 180px 0px 0px 0px;
}

a {
	color: #121ebc;
}

ul {
	text-align: left;
}

h2 {
	text-shadow: 2px 2px #aaa;/*#121ebc;*/
	text-decoration: overline;
}

form {
	text-align: left;
	margin-left: 30%;
}

input {
	width: 220px;
	height: 22px;
}

.container {
	opacity: 0.8;
	margin-top: 50px;
	background-color: #ccc;
	background-image: url("prescription.png");
	background-size: 128px 128px;
	background-position: 0% 97%;
	background-repeat: no-repeat;
	width: 500px;
	margin-left: 5%;
	height: 500px;
	border: 4px solid #101010;
}


.title {
	border: 5px solid #020eac;
	text-shadow: 5px 5px #121ebc; 
	width: 448px;
	margin-left: 25%;
	background-color: #323edc;
	color: #ddd;
	height: 72px;
	line-height: 70px;
}


.circle {
	border-radius: 50%;
	display: inline-block;
	background: #121ebc;
	width: 16px;
	height: 16px;
}


.background {
	opacity: 0.5;
}

.listContainer {
	padding: 50px;
}


.buttonEnviar {
	color: #fff;
	background-color: #323edc;
	font-family: "roboto-italic";
	font-size: 24px;
	width: 230px;
	height: 36px;
	border: 2px solid #020eac;
}
