
#create-prescription-subtitle {
	background-image: url("../images/create_prescription.png");
	background-repeat: no-repeat;
	background-position: 86% 25%;
	background-size: 12%;
}

#show-prescription-subtitle {
	background-image: url("../images/show_prescriptions.png");
	background-repeat: no-repeat;
	background-position: 86% 25%;
	background-size: 12%;
}

#modify-prescription-subtitle {
	background-image: url("../images/modify_prescription.png");
	background-repeat: no-repeat;
	background-position: 86% 25%;
	background-size: 12%;
}


#delete-prescription-subtitle {
	background-image: url("../images/delete_prescription.png");
	background-repeat: no-repeat;
	background-position: 86% 50%;
	background-size: 12%;
}


#userIdInput {
	margin-bottom: 20px;
}

#prescriptionIdInput {
	margin-bottom: 40px;
}

#userData {
	display: inline-block;
	width: max-content;
	align-self: center;
	margin-bottom: 20px; 
}

#od-column {
	width: 180px;
}

#oi-column {
	width: 180px;
}

#notes-column {
	width: 80px;
}

#add-column {
	width: min-content;
}

#user-column {
	width: 160px;
}

#show-users-name {
	background-color: #3d47d1;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	padding: 2% 2% 2% 2%;
	/* min-width: 260; */
	/* width: 460px; */
	margin: 2px 0px 20px 0px;
	border-radius: 5px 5px;
}

.null-width-input {
	width: max-content;
}