table {
	border-collapse: collapse;
	width: 100.1%;
}

td, th {
  border: 4px solid #101010;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}


.headers {
	background-color: #727efc;
}

.modifyInput {
	width: 96%;

}

.links-separator {
	width: 3px;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #ccc;
}

#createUser {
	opacity: 0.8;
	margin-top: 50px;
	background-color: #ccc;
	background-image: url("../prescription.png");
	background-size: 25% 25%;
	background-position: 0% 97%;
	background-repeat: no-repeat;
	width: 700px;
	margin-left: 5%;
	height: 500px;
	border: 4px solid #101010;
/* Aplica exclusivamente al id container */

}

#usersList {
	width: 90%;
	height: 100%;
	background-image: none;

}

#userData {
	width: 90%;
	height: 500px;
}

#userIdInput {
	margin-bottom: 20px;
}

#deleteUser {
	width: 90%;
	height: 500px;
}

#deleteTable {
	margin-top: 40px;
}

#modifyTable {
	margin-top: 40px;
	margin-bottom: 160px;
}


#modifyUser {
	height: 100%;
	width: 90%;
}

#users-menu {
	display: flex;
	justify-content: space-evenly;
	background-color: #eee;
	margin-left: 8px;
	margin-right: 8px;
	padding: 40px 12px 40px 12px;
}

#create-user-subtitle {
	background-image: url("../images/create_user.png");
	background-repeat: no-repeat;
	background-position: 88% 0%;
}