
.modifyInput {
	width: 96%;

}

.links-separator {
	width: 3px;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #ccc;
}


#userIdInput {
	margin-bottom: 40px;
}


#users-menu {
	display: flex;
	justify-content: space-evenly;
	background-color: #eee;
	margin-left: 8px;
	margin-right: 8px;
	padding: 40px 12px 40px 12px;
}

#create-user-subtitle {
	background-image: url("../images/create_user.png");
	background-repeat: no-repeat;
	background-position: 88% 0%;
}

#users-list-subtitle {
	background-image: url("../images/users_list.png");
	background-repeat: no-repeat;
	background-position: 86% 50%;
	background-size: 8%;
}

#show-user-subtitle {
	background-image: url("../images/user_data.png");
	background-repeat: no-repeat;
	background-position: 86% 50%;
	background-size: 9%;
}

#delete-user-subtitle {
	background-image: url("../images/delete_user.png");
	background-repeat: no-repeat;
	background-position: 86% 10%;
	background-size: 14%;
}

#modify-user-subtitle {
	background-image: url("../images/modify_user.png");
	background-repeat: no-repeat;
	background-position: 86% 50%;
	background-size: 9%;
}


#deleteButton {
	margin-top: 40px;
	margin-bottom: 40px;
}

#modifyButton {
	margin-top: 40px;
	margin-bottom: 40px;
}