#createUser {
	opacity: 0.8;
	margin-top: 50px;
	background-color: #ccc;
	background-image: url("../prescription.png");
	background-size: 25% 25%;
	background-position: 0% 97%;
	background-repeat: no-repeat;
	width: 700px;
	margin-left: 5%;
	height: 500px;
	border: 4px solid #101010;
/* Aplica exclusivamente al id container */

}

